.profileimg {
  width: 100%;
  /* border-radius: 5%; */
  border-radius: 50%;
  object-fit: cover;
  /* border: 1px #222 solid; */
  /* box-shadow: 3px 3px #bfff7f; */
}

.left-border {
  /* border-left: 3px #eee solid; */
  border-left: 1.5px #222 solid;
  border-bottom: 2px #222 solid;
  border-radius: 0;
}

.all-border {
  /* border-left: 3px #eee solid; */
  /* border: 1.5px #015030 solid; */
  border-left: 1.5px #222 solid;
  border-bottom: 1.5px #222 solid;
  border-radius: 0;
  /* background-position: 50% 50%; */
  /* background-image:
  repeating-linear-gradient(
    90deg,
    #ddd ,
    #ddd 1px,
    transparent 1px,
    transparent 40px
  ),
  repeating-linear-gradient(
    0deg,
    #ddd ,
    #ddd 1px,
    transparent 1px,
    transparent 40px
  ); */
}

.title-marker {
  /* background:linear-gradient(transparent 65%, #bfff7f 65%); */
  /* background:linear-gradient(transparent 65%, #a5efce 65%); */
}

.Block {
  background-color: white;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.clip-shadow {
  /* content: ''; */
  /* background: inherit; */
  filter: drop-shadow(0px 3px 3px rgba(114, 106, 90, 0.1));
}

.clip-rightdown {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.clip-leftdown {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.skill-graph {
  width: 100%;
}

.skill-graph-cell {
  width: 7%;
  height: 100%;
  margin: 0 1px;
  background-color: #eee;
  /* background-color: #fff; */
  border-radius: 3px;
}
.cell-on {
  /* background-color: #046941; */
  background-color: #333;
  /* background-color: #015030; */
}

.atcoder-blue {
  color: blue;
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.prof-link {
  text-decoration: none;
}

.prof-link-box {
  position: relative;
}

.prof-link-box:before {
  content:"";
  width:100%;
  height:100%;
  z-index:-1;
  position: absolute;
  left: 0;
  background: #fff;
}

/* .prof-link-box:after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -2;
  background: linear-gradient(transparent 65%, #bfff7f 65%);
  position: absolute;
  left: 0;
}

.prof-link-box:hover:before {
  transition: 0.4s;
  left: 100%;
} */
